<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Backbone.js Web App</title>
		<link rel="stylesheet" type="text/css" href="css/screen.css">
	</head>
	<body>
		<table id="contacts">
			<tr>
				<td>first_name</td>
				<td>address</td>
				<td>tel</td>
				<td>type</td>
				<td>product</td>
				<td>number</td>
				<td>amount</td>
				<td>price</td>
			</tr>
		</tabe>
	
		<script id="contactTemplate" type="text/template">
			<td><%= first_name %></td>
			<td><%= address %></td>
			<td><%= tel %></td>
			<td><%= type %></td>
			<td><%= product %></td>
			<td><%= number %></td>
			<td><%= amount %></td>
			<td><%= price %></td>
			</dl>
		</script>
		<script src="js/jQuery-min.js"></script>
		<script src="js/json2.js"></script>
		<script src="js/Underscore-min.js"></script>
		<script src="js/Backbone-min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>